
<h2>Cara Penyajian</h2>

<header class="jumbotron hero-spacer">
    <img ng-src="{{image}}" style="margin-left: 20%">
</header>

<div class="row">
    <div class="col-xs-12">
        <ol class="list-group">
            <li class="list-group-item">
                <p>Masukan beras dan bahan-bahan pelengkap lainnya ke dalam alumunium pan atau dapat juga menggunakan rice cooker.</p>
            </li>
            <li class="list-group-item">
                <p>Tambahkan air secukupnya seperti biasa Anda memasak nasi di rumah. Beras tidak perlu dicuci karena telah melalui proses 3x penggilingan dan penyaringan. Bila menginginkan nasi yang agak keras, kurangi air, dan untuk mendapatkan nasi yang lebih lunak tambahkan lagi air sesuai selera.</p>
            </li>
            <li class="list-group-item">
                <p>Aduk semua bahan dalam alumunium pan atau rice cooker.</p>
            </li>
            <li class="list-group-item">
                <p>Liwet Instan SeribuSatu siap untuk dimasak</p>
            </li>
            <li class="list-group-item">
                <p>Setelah proses memasak selesai, nasi Liwet InstanSeribu Satu siap disajikan untuk 4 porsi (paket 250gr) dan 8 porsi (paket 500gr)</p>
            </li>
        </ol>
    </div>
</div>