@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<div class="container">
    <div class="row">
        <p>Kami adalah Reseller nasi liwet 1001 untuk wilayah jati asih bekasi dan Bogor.</p>
        <p>Free ongkir untuk wilayah jati asih</p>
        <p>Untuk Pemesanan silahkan hubungi contact di bawah ini :</p>
    </div>
    <div class="row">
        <div class="col-md-4" >
            <img src="~/Content/img/phone-icon.jpg" /> 08561435865 / 0856930787477<br />
            <img src="~/Content/img/bb-icon.png" /> 75DE1AD5 <br />
            <img src="~/Content/img/whatsapp-48.png" /> 085693078477 <br />
        </div>

        <div class="col-md-8" style="border-left: solid">
            <h3 style="margin-top: 0">Cara Pemesanan</h3>
            <div>
                <p>Untuk Pemesanan Silahkan hubungi contact disamping</p>
                <p> Pembayaran dapat dilakukan dengan melakukan transfer ke rekening di bawah ini:</p>
                <ul>
                    <li>
                        Bank BCA: <strong>5700170316</strong><br>
                        a/n : Muhammad Ridwan Fansuri
                    </li>
                </ul>
                <ul>
                    <li>
                        Bank Mandiri : <strong>1320012617594</strong><br>
                        a/n : Muhammad Ridwan Fansuri
                    </li>
                </ul>
                <p>2. Setelah transfer pembayaran, maka lakukan konfirmasi transfer melalui Contact disamping dengan format di bawah ini :</p>
                <p style="padding-left: 30px;"><b>Nama, Nama Bank, Jumlah Transfer</b></p>
                <p style="padding-left: 30px;">Contoh :&nbsp;<b>Jonas, BCA, Rp. 400.000</b></p>
                <p>
                    3. <span style="color: #ff0000;">
                           <strong>Penting</strong> !&nbsp;<span style="color: #333333;">Barang tidak akan dikirim jika anda belum melakukan konfirmasi pembayaran.</span><span style="color: #000000;">
                                                                                                                                                                              <br>
                                                                                                                                                                          </span>
                       </span>
                </p>
                <p>&nbsp;</p>
            </div>
        </div>

    </div>
</div>